.card_container {
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
}
/* img is used for image setting */
.image_container img {
  overflow: hidden;
  height: 200px;
}
.card_container:hover {
  transform: scale(1, 1);
}

.btn_button {
  display: flex;
}
