.verification {
  margin: 0px 148px 151px 265px;
  /* border: 1px solid grey; */
}
.apply_verification_btn {
  /* border: 1px solid grey; */

  padding: 1px 9px 24px 7px;
}

.download_button {
  padding: 6px 0px 14px 19px;
  color: black;
}

